{
    "presets": [
        [
            "@babel/preset-env", {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [["transform-jsx", { "function": "h.default" }]]
}