// 背景色
$-background-color: #F8F9FA;

html, body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.display-none {
    display: none !important;
}

// 流程设计器
.haku-workflow-design {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    // 头部区域
    > .haku-workflow-design-header {
        height: 100px;
        flex-shrink: 0;
        box-shadow: 0px 0px 0px 1px #D0D0D0, 0px -1px 0px 1px white;
        z-index: 1;
    }

    // 底部区域
    > .haku-workflow-design-footer {
        height: 30px;
        flex-shrink: 0;
        background-color: #F3F3F3;
        box-shadow: 0px 0px 0px 1px #D0D0D0, 0px -1px 0px 1px white;
        z-index: 1;
    }

    > .haku-workflow-design-body {
        display: flex;
        flex-grow: 2;

        > .haku-workflow-design-graphics {
            width: 200px;
            flex-shrink: 0;
            box-shadow: 0px 1px 0px 1px #D0D0D0;
            z-index: 1;
        }

        > .haku-workflow-design-propertys {
            width: 200px;
            flex-shrink: 0;
            box-shadow: 0px 1px 0px 1px #D0D0D0;
        }

        // 画布
        > .haku-workflow-design-canvas {
            position: relative;
            background-color: $-background-color;
            width: 100%;
            flex-grow: 2;
            overflow: scroll;

            > svg {
                position: absolute; 
                border-width: 1px; 
                overflow: hidden;
                border-color: rgb(255, 255, 255);
                border-style: solid;
                background-color: rgb(255, 255, 255);
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2QwZDBkMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZDBkMGQwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4="); 
                background-position: 0px 0px;
                box-shadow: 0px 0px 2px 1px #d1d1d1;
            }

            &::-webkit-scrollbar {
                width:12px;
                height:12px;
            }
            &::-webkit-scrollbar-track {
                background: whiteSmoke;
                -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
            }
            &::-webkit-scrollbar-thumb {
                background: #c5c5c5;
                border-radius: 10px;
                border: whiteSmoke solid 3px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #b5b5b5;
            }
        }
    }
}

svg {
    user-select: none;

    text.graphics-label {
        user-select: none;
        pointer-events: none;
        text-anchor: middle;
        dominant-baseline: middle;
        font-size: 12px;
    }
}

[hidden] {
    display: none !important;
}

// 文本编辑器
.text-editor {
    position: absolute;
    display: inline-block;
    z-index: 9999;
    font-size: 12px;
    outline: none;
    background-color: #CCC;
    min-width: 10px;
    min-height: 18px;
    padding: 0px 0px;
    line-height: 18px;
    vertical-align: middle;
}